<table> </table>
<div class="container">

  <div class="HeaderClass">Request Detail</div>
  <div class="modal-body row">
    <div class="col-md-6" text-center>
      <!-- <form  > -->
      <table class="fontFamily" style="width:70%">
        <tr>
          <td>
            <label for="pbiId ">PBI ID</label>
          </td>
          <td>{{currentRequestData.pbiId}}</td>
        </tr>
        <tr>
          <td>
            <label for="name ">Name</label>
          </td>
          <td> {{currentRequestData.name}}</td>
        </tr>
        <tr>
          <td>
            <label for="skillSet">Dev skill set</label>
          </td>
          <td>
            <span>{{devSkillSet}}</span>
            <a *ngIf="isDevSkillMore" (click)="devSkillAlert()">...See more</a>
          </td>
        </tr>
        <tr>
          <td>
            <label for="skillSet">QA skill set</label>
          </td>
          <td>
            <span>{{qaSkillSet}}</span>
            <a *ngIf="isQaSkillMore" (click)="qaSkillAlert()">...See more</a>
          </td>
        </tr>
        <tr>
          <td>
            <label for="deliveryDate ">Delivery Date</label>
          </td>
          <td>
            {{currentRequestData.deliveryDate | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td>
            <label for="expectedIQADate ">Expected IQA Date</label>
          </td>
          <td> {{currentRequestData.expectedIQADate | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td>
            <label for="status ">Status</label>
          </td>
          <td> {{currentRequestData.status }}</td>
        </tr>
        <tr>
          <td>
            <label for="checklist ">checklist</label>
          </td>
          <td> {{currentRequestData.checklist }}</td>
        </tr>
        <tr>
          <td>
            <label for="remarks ">Remarks</label>
          </td>
          <td> {{currentRequestData.remarks}}</td>
        </tr>
        <tr>
          <td>
            <label for="initiatedBy ">Initiated By</label>
          </td>
          <td> {{currentRequestData.initiatedBy.TeamName}}</td>
        </tr>
        <tr>
          <td>
            <label for="skillSet">Dev Panel</label>
          </td>
          <td>
            <span *ngFor="let panelItem of devPanel;let i=index; trackBy:trackByIndex" style="text-transform: capitalize;">
              <a (click)="showUserDeatail(panelItem)">{{panelItem.fullName}}{{i === devPanel.length - 1 ? '' : ', '}}</a>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="skillSet">QA Panel</label>
          </td>
          <td>
            <span *ngFor="let panelItem of qaPanel;let i=index; trackBy:trackByIndex">
              <a (click)="showUserDeatail(panelItem)">{{panelItem.fullName}}{{i === qaPanel.length - 1 ? '' : ', '}}</a>
            </span>
          </td>
        </tr>
      </table>


    </div>
    <div class="col-md-4">
      <h2>Select To Assign</h2>
      <form (ngSubmit)="f.form.valid && assignSelectedUsers()" #f="ngForm">

        <div class="custom-control custom-checkbox my-1 mr-sm-2">
          <div *ngIf="isSkillLoaded">
            <div class="form-group">
              <label for="devSkillSetPanel">Dev Skills</label>
              <angular2-multiselect name="devSkillSetPanel" [data]="devSkillSetPanel" [(ngModel)]="model.devSkillSetPanel" [settings]="devDropdownSettings"></angular2-multiselect>
            </div>

            <div class="form-group">
              <label for="qaSkillSetPanel">QA Skills</label>
              <angular2-multiselect name="qaSkillSetPanel" [data]="qaSkillSetPanel" [(ngModel)]="model.qaSkillSetPanel" [settings]="qaDropdownSettings"></angular2-multiselect>
            </div>
          </div>
        </div>

        <div style="align-content: center">
          <button type="submit" class="btn btn-success ">Assign</button>
          <button (click)="ShowRequestList()" class="btn btn-warning">Go Back</button>
        </div>
      </form>
    </div>






  </div>
</div>