<div>
  <!-- <div class="HeaderClass">Requests Under Verifications</div> -->
  <div class="fw-bold fs-body2 fc-orange-500 tt-uppercase mb16">Requests Under Verifications</div>
  <div class="pl24 pr2 pt2 pb4 bg-divider d-inline-block mb24"></div>
  <div *ngIf="!showCheckList">
    <table class="table-striped table table-condensed fontFamily data-table">

      <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>PBI</th>
          <th>Name</th>
          <th>Request Date</th>
          <th>Expected IQA Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
        <tr *ngFor="let data of NewRequest">
          <th scope="row">{{NewRequest.indexOf(data)+1}}</th>
          <td>
            <span (click)="ShowRequestDetails(data)"  class="text-primary">{{data.pbiId}}</span>
          </td>
          <td>{{data.name}}</td>
          <td>{{data.creationDate | date : DATE_FMT}}</td>
          <td>{{data.expectedIQADate | date : DATE_FMT}} </td>
          <td>
            <app-request-status [status]="data.status"></app-request-status>
          </td>
          <td>
            <button class="btn btn-danger btn-xs" (click)="ShowCheckListDetails(data)">
              <i class="fa fa-trash-o"></i> Review Checklist</button>
          </td>
        </tr>
      </tbody>
      <!--Table body-->

    </table>

  </div>

  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  <div class="col-md-12 form-add-review" *ngIf="showCheckList" style="padding: 0px !important">

    <div *ngIf="isAnyOpenCheckListItem">
      <div class="fw-bold fs-body2  tt-uppercase mb16">Common Review Items</div>
      <div class="pl24 pr2 pt2 pb4 bg-divider d-inline-block mb24"></div>
      <table class="table table-condensed skillFontStyle ff-family data-table">
        <thead>
          <tr>
            <th>#</th>
            <th>CheckList Item</th>
            <th>Description</th>
            <th>Panel Comment</th>
            <th>Raised By</th>
            <th>Team Comment</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of openCheckListItem; let i = index;" class="form-add-review">
            <th scope="row">{{i+1}}</th>
            <td>{{data.CheckListItem}}</td>
            <td>{{data.Description}}</td>
            <td>{{data.panelComment||'NA'}}</td>
            <td class="capitalize">{{data.raisedByPanel||'NA'}}</td>
            <td><textarea type="text" class="form-control" name='genericPanelComment{{i}}' [(ngModel)]="data.teamComment"
                #data.teamComment="ngModel" *ngIf="data.raisedByPanel && data.status"></textarea>
              <span *ngIf="!(data.status)">{{data.teamComment||'NA'}}</span></td>
            <td>
              <app-request-status [status]="data.status?'Open':'Close'"></app-request-status>
            </td>
            <!-- <td><span [ngClass]="{'closeStatus':!data.status,'openStatus':data.status}"></span></td> -->
          </tr>
        </tbody>
        <!--Table body-->

      </table>
      <hr>
    </div>

    <div *ngIf="devPreviousReviewComment.length">
      <div class="fw-bold fs-body2 tt-uppercase mb16">DEV Panel Review :</div>
      <div class="pl24 pr2 pt2 pb4 bg-divider d-inline-block mb24"></div>
      <table class="table table-condensed skillFontStyle ff-family data-table">
        <thead>
          <tr>
            <td>#</td>
            <th>Findings</th>
            <th>Future Impact</th>
            <th>Proposed Action</th>
            <th>Panel Comment</th>
            <th>Team Comment</th>
            <!-- <th>Area Of Finding</th>
            <th>Severity</th>
            <th>Check Point Type</th>-->
            <th>Raised By</th>
            <!-- <th>Panel</th> -->
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of devPreviousReviewComment; let i = index" class="capitalize">
            <td scope="row">{{(i+1)}}</td>
            <td>{{data.findings}}</td>
            <td>{{data.futureImpact}}</td>
            <td>{{data.proposedAction}}</td>
            <td>{{data.panelComment}}</td>
            <td><textarea type="text" class="form-control" name='genericTeamComment{{i}}' [(ngModel)]="data.teamComment"
                #data.teamComment="ngModel"></textarea></td>
            <!-- <td>{{data.areaOfFinding}}</td>
            <td>{{data.severity}}</td>
            <td>{{data.checkPointType}}</td> -->
            <td>{{data.raisedBy}}</td>
            <!-- <td>{{data.panelType}}</td> -->
            <td>
              <app-request-status [status]="GetDisplayStatus(data.status)"></app-request-status>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>

    <div *ngIf="qaPreviousReviewComment.length">
      <div class="fw-bold fs-body2  tt-uppercase mb16">QA Panel Review :</div>
      <div class="pl24 pr2 pt2 pb4 bg-divider d-inline-block mb24"></div>
      <table class="table table-condensed skillFontStyle ff-family data-table">
        <thead>
          <tr>
            <td>#</td>
            <th>Findings</th>
            <th>Future Impact</th>
            <th>Proposed Action</th>
            <th>Panel Comment</th>
            <th>Team Comment</th>
            <!-- <th>Area Of Finding</th>
            <th>Severity</th>
            <th>Check Point Type</th> -->
            <th>Raised By</th>
            <!-- <th>Panel</th> -->
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of qaPreviousReviewComment; let i = index" class="capitalize">
            <td scope="row">{{(i+1)}}</td>
            <td>{{data.findings}}</td>
            <td>{{data.futureImpact}}</td>
            <td>{{data.proposedAction}}</td>
            <td>{{data.panelComment}}</td>
            <td><textarea type="text" class="form-control" name='genericQATeamComment{{i}}' [(ngModel)]="data.teamComment"
                #data.teamComment="ngModel"></textarea></td>
            <!-- <td>{{data.areaOfFinding}}</td>
            <td>{{data.severity}}</td>
            <td>{{data.checkPointType}}</td> -->
            <td>{{data.raisedBy}}</td>
            <!-- <td>{{data.panelType}}</td> -->
            <td>
              <app-request-status [status]="GetDisplayStatus(data.status)"></app-request-status>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>

    <div *ngIf="allPreviousReviewComment.length">
      <div class="fw-bold fs-body2  tt-uppercase mb16">Close Review Item(s):</div>
      <div class="pl24 pr2 pt2 pb4 bg-divider d-inline-block mb24"></div>
      <table class="table table-condensed skillFontStyle ff-family data-table">
        <thead>
          <tr>
            <td>#</td>
            <th>Findings</th>
            <th>Future Impact</th>
            <th>Proposed Action</th>
            <th>Panel Comment</th>
            <th>Team Comment</th>
            <th>Area Of Finding</th>
            <th>Severity</th>
            <th>Check Point Type</th>
            <th>Raised By</th>
            <th>Panel</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of allPreviousReviewComment; let i = index" class="capitalize">
            <td scope="row">{{(i+1)}}</td>
            <td>{{data.findings}}</td>
            <td>{{data.futureImpact}}</td>
            <td>{{data.proposedAction}}</td>
            <td>{{data.panelComment}}</td>
            <td>{{data.teamComment}}</td>
            <td>{{data.areaOfFinding}}</td>
            <td>{{data.severity}}</td>
            <td>{{data.checkPointType}}</td>
            <td>{{data.raisedBy}}</td>
            <td>{{data.panelType}}</td>
            <td>
              <app-request-status [status]="GetDisplayStatus(data.status)"></app-request-status>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>
    <div>
      <div class="width50per">
        <div class="marginTop15 mb24">
          <button type="submit" class="btn btn-success" (click)="OnSaveClick()" [disabled]="!isAnyOpenCheckListItem">Save</button>
          <button type="submit" class="btn btn-link" (click)="OnCancelClick()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>