<div class="container ">
    <div class="HeaderClass">Add Skills</div>

    <div class="col-md-6">
        <table class=" skillTable table table-hover table-striped fontFamily" cellspacing="0" >
            <thead>
                <tr>
                    <th>#</th>
                    <th>Skills</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of skillSets">
                    <td>1</td>
                    <td>{{client.skillName}}</td>
                    <td>{{client.type}}</td>
                    <td>
                        <a href="#editEmployeeModal" class="edit"><i class="glyphicon glyphicon-edit" title="Edit"></i></a>                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#deleteEmployeeModal" class="delete"><i class="glyphicon glyphicon-remove" title="Delete"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>