<div class="container ">
    <div class="HeaderClass">Add Skills</div>
    <div class="Header">
        <form name="form" (ngSubmit)="f.form.valid && addSkill()" #f="ngForm" novalidate>
            <div class="col-xs-2" >
                <input type="text" id="skillInput" class="form-control " name="skillName" [(ngModel)]="model.skillName" #FName="ngModel"
                    placeholder="Skill Name" required="required">
                
            </div>
            <div style="float:left"> <select required id="skillTypeInput" #Id="ngModel" class=" form-control" [(ngModel)]="model.type" name="type">
                <option [ngValue]="k.Name" *ngFor="let k of panelTypeList">
                    {{k.Name}}
                </option>
            </select></div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary" id="btnAdd">{{saveButtonCaption}}</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <a (click)="skillClear()" class="btn btn-link">Cancel</a>
            </div>
            <!-- <div id="skillSetMessage" *ngIf="showMessage" class="form-group">
                <label id="skillMessage" [ngClass]="{ 'errorMsg' : isError , successMsg: !isError }" >{{skillMassage}}</label>
            </div> -->
        </form>
    </div>
<div><br/></div>
    <div class="col-md-8">
                <table class=" skillTable table-hover table-striped fontFamily" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="text-align: center">#</th>
                            <th style="text-align: left">Skills</th>
                            <th style="text-align: left">Type</th>
                            <th style="text-align: left">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of skillSets">
                                <th scope="row" style="width: 10%; text-align: center">{{skillSets.indexOf(client)+1}}</th>
                            <td style="width:300px">{{client.skillName}}</td>
                            <td style="width: 198px">{{client.type}}</td>
                            <td>
                                <a (click)="editSkillDetail(client)" class="edit"><i class="glyphicon glyphicon-edit" title="Edit"></i></a>                        &nbsp;&nbsp;&nbsp;&nbsp;
                                <a (click)="deleteSkillDetail(client)" class="delete"><i class="glyphicon glyphicon-remove" title="Delete"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>  
    </div>
</div>



<script>
    setTimeout(function() { $("#skillMessage").hide(); }, 5000);
</script>