
<div class="">
  <div class="container">
    <div class="HeaderClass">IQA Requests</div>
    <table  class="table-striped fontFamily" style="width: 95%">

      <!--Table head-->
      <thead>
        <tr>
          <th class="th_cols">#</th>
          <th class="th_cols">PBI</th>
          <th class="th_cols">Name</th>
          <th>Delivery Date</th>
          <th>Expected IQA Date</th>
          <th>Status</th>
          <th>Remarks</th>
          <th>Initiated By</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of NewRequest">
          <th scope="row" style="width: 5%">{{NewRequest.indexOf(data)+1}}</th>
          <td style="width: 10%">
            <span (click)="ShowRequestDetails(data)" class="text-primary">{{data.pbiId}}</span>
          </td>
          <td style="width: 15%">{{data.name}}</td>
          <td>{{data.deliveryDate?(data.deliveryDate | date: 'dd MMM yyyy'):'NA' }}</td>
          <td>{{data.expectedEQADate?(data.expectedEQADate | date: 'dd MMM yyyy'):'NA'}}</td>
          <td> <span class="label label-warning">{{data.status}}</span></td>
          <td>{{data.remarks}}</td>
          <td style="width: 15%">{{data.initiatedBy.TeamName}}</td>
          <td>
            <button class="btn btn-success btn-xs" (click)="ClickAccept(data._id)">
              <i class="fa fa-check"></i> Accept </button>
            <button class="btn btn-danger btn-xs" (click)="ShowRequestDetails(data,true)">
              <i class="fa fa-trash-o"></i> Reject</button>
          </td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
  </div>
  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
  />
</div>