<div class="container-fluid top-header">
    <div class="row">
        <div class="col-xs-6 col-sm-9">
            <h3 class="user-name">
                <span title="{{currentUser.FName+' '+currentUser.LName | titlecase }}"> Hi {{currentUser.FName+' '+currentUser.LName | titlecase }}!</span>
                <span (click)="navToggle()" class="glyphicon glyphicon-th-list cur-pointer"></span>
            </h3>
        </div>
        <div class="col-xs-6 col-sm-3 text-right">
            <a [routerLink]="['/login']" class="logout-link">Logout</a>
            <!-- <a (click)="doAction(ActionList.ResetPassword)">Reset Password</a> -->
        </div>
    </div>
</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row bottomBorder minHeight350" [ngClass]="{'nav-open':navOpen}">
            <div class="col-lg-3 col-sm-3 col-xs-12 left-nav">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div>
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active">
                                <a href="admin#" (click)="doAction(ActionList.AdminTeamRequest, $event)">Home</a>
                            </li>
                            <li role="presentation">
                                <a href="admin#" (click)="doAction(ActionList.AdminTeamRequestNew, $event)">IQA New Requests
                                    <span class="badge" *ngIf="newRequestCount">{{newRequestCount}}</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="admin#" (click)="doAction(ActionList.AdminTeamRequestPending, $event)">Panel Assigned Req.
                                    <span class="badge" *ngIf="assignedRequestCount">{{assignedRequestCount}}</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="admin#" (click)="doAction(ActionList.AdminTeamRequestSummary)">Request Summary
                                    <span class="badge" *ngIf="inProgressRequestCount">{{inProgressRequestCount}}</span>
                                </a>
                            </li>
                            <!-- <li role="presentation">
                                <a href="admin#" (click)="doAction(ActionList.AdminTeamRequestCompleted)">IQA Completed Requests
                                    <span class="badge" *ngIf="completedRequestCount">{{completedRequestCount}}</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="admin#" (click)="doAction(ActionList.AdminTeamRequestRejected, $event)">IQA Rejected Requests
                                    <span class="badge" *ngIf="rejectRequestCount">{{rejectRequestCount}}</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="admin#" (click)="doAction(ActionList.AdminTeamRequestUnderVerification, $event)">Req. Under Verification
                                    <span class="badge" *ngIf="underReviewRequestCount">{{underReviewRequestCount}}</span>
                                </a>
                            </li> -->
                            <li role="presentation">
                                <a href="admin#" (click)="doAction(ActionList.AddPanel, $event)">Add Panel</a>
                            </li>
                            <li role="presentation">
                                <a href="admin#" (click)="doAction(ActionList.AddTeam, $event)">Add Team</a>
                            </li>
                            <li role="presentation">
                                <a href="admin#" #myDiv id="AddSkills" (click)="doAction(ActionList.AddSkill, $event)">Add Skills</a>
                            </li>
                            <li role="presentation">
                                <a href="admin#" (click)="doAction(ActionList.AddArea, $event)">Add Area</a>
                            </li>
                            <li role="presentation">
                                <a href="admin#" (click)="doAction(ActionList.PanelList, $event)">Panel List</a>
                            </li>
                            <li role="presentation">
                                <a href="admin#" (click)="doAction(ActionList.TeamList, $event)">Team List</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-9 col-sm-9  col-xs-12 right-body">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner minHeight350 LeftBorder">
                        <section class="content-header pos-rel">
                            <ol class="breadcrumb">
                                <li>
                                    <span class="glyphicon glyphicon-home"></span> Home</li>
                                <li class="active">{{AdminActiveTab}}</li>
                            </ol>
                        </section>
                        <app-admin-home-page *ngIf="AdminActiveTab===ActionList.AdminTeamRequest"></app-admin-home-page>
                        <admin-request-list *ngIf="AdminActiveTab===ActionList.AdminTeamRequestNew" (messageEvent)='ShowRequestDetails($event)' [currentRequestData]="currentRequestData"></admin-request-list>
                        <admin-request-list *ngIf="AdminActiveTab===ActionList.AdminTeamRequestPending" (messageEvent)='ShowRequestDetails($event)'
                            [currentRequestData]="currentRequestData"></admin-request-list>
                        <admin-request-list *ngIf="AdminActiveTab===ActionList.AdminTeamRequestSummary" (messageEvent)='ShowRequestDetails($event)'
                            [currentRequestData]="currentRequestData"></admin-request-list>
                        <admin-request-list *ngIf="AdminActiveTab===ActionList.AdminTeamRequestCompleted" (messageEvent)='ShowRequestDetails($event)'
                            [currentRequestData]="currentRequestData"></admin-request-list>
                        <admin-request-list *ngIf="AdminActiveTab===ActionList.AdminTeamRequestRejected" (messageEvent)='ShowRequestDetails($event)'
                            [currentRequestData]="currentRequestData"></admin-request-list>
                        <admin-request-list *ngIf="AdminActiveTab===ActionList.AdminTeamRequestUnderVerification" (messageEvent)='ShowRequestDetails($event)'
                            [currentRequestData]="currentRequestData"></admin-request-list>
                        <app-admin-team-request-details *ngIf="AdminActiveTab== ActionList.TeamRequestDetails" [currentRequestData]="currentRequestData"
                            (messageEvent)='ShowRequestList($event)'> </app-admin-team-request-details>
                        <app-register-component *ngIf="AdminActiveTab== ActionList.AddPanel" (messageEvent)='ShowRequestDetails($event)' [currentRequestData]="currentRequestData">
                        </app-register-component>
                        <app-admin-team-add *ngIf="AdminActiveTab== ActionList.AddTeam" [currentRequestData]="currentRequestData"> </app-admin-team-add>
                        <app-admin-skill-set *ngIf="AdminActiveTab== ActionList.AddSkill" [currentRequestData]="currentRequestData"></app-admin-skill-set>
                        <app-team-panel-list *ngIf="AdminActiveTab===ActionList.PanelList"></app-team-panel-list>
                        <app-team-list *ngIf="AdminActiveTab===ActionList.TeamList"></app-team-list>
                        <app-admin-area-add *ngIf="AdminActiveTab== ActionList.AddArea" [currentRequestData]="currentRequestData"></app-admin-area-add>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>