.th_cols {
padding: 12px;
    margin: 7px;
    
}

.piped ul { float: left;}

.dialogdemoThemeInheritance .container {
    text-align: center; 
}

.minHeight350 {
    min-height: 350px;
}
.bottomBorder{
    border-bottom: solid 1px gainsboro;
}
.LeftBorder{
    border-left: solid 1px gainsboro;
}

