<div class="">
  <div>
    <div class="fw-bold fs-body2 fc-orange-500 tt-uppercase mb16">New IQA Request</div>
    <div class="pl24 pr2 pt2 pb4 bg-divider d-inline-block mb24"></div>
    <br>
    <div class="col-md-6 col-md-offset-1">
      <p>Please fill in this form to Initiate IQA!</p>
      <hr>
      <form name="form" (ngSubmit)="f.form.valid && createRequest()" #f="ngForm">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pbiId.valid }">
          <input type="text" class="form-control" name="name" [(ngModel)]="model.name" required #name="ngModel"
            placeholder="Enter Sprint Name here" />
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pbiId.valid }">
          <input type="text" class="form-control" name="pbiId" [(ngModel)]="model.pbiId" required #pbiId="ngModel"
            placeholder="Enter PBI ID here, use comma(,) for seperating more than one ID's" />
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pbiId.valid }">
          <input type="date" class="form-control" name="sprintStartDate" [(ngModel)]="model.sprintStartDate" required
            #sprintStartDate="ngModel" placeholder="Select Sprint Start Date" />
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pbiId.valid }">
          <input type="date" class="form-control" name="sprintEndDate" [(ngModel)]="model.sprintEndDate" required
            #sprintEndDate="ngModel" placeholder="Select Sprint End Date" />
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pbiId.valid }">
          <input type="date" class="form-control" name="expectedIQADate" [(ngModel)]="model.expectedIQADate" required
            #expectedIQADate="ngModel" placeholder="Select Expected IQA Date" />
        </div>

        <div class="form-group" *ngIf="model.roleId !== 1">
          <angular2-multiselect name="skillset" [data]="skillList" [(ngModel)]="model.skillSet" [settings]="dropdownSettingsDEV"></angular2-multiselect>
        </div>
        <div class="form-group" *ngIf="model.roleId !== 1">
          <angular2-multiselect name="qaSkillSet" [data]="qaSkillList" [(ngModel)]="model.qaSkillSet" [settings]="dropdownSettingsQA"></angular2-multiselect>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }" *ngIf="model.roleId == 1">
          <label for="teamName">Team Name</label>
          <input type="text" class="form-control" name="teamName" [(ngModel)]="model.teamName" #teamName="ngModel"
            required />
          <div *ngIf="f.submitted && !teamName.valid" class="help-block">Team Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }" *ngIf="model.roleId == 1">
          <label for="area">Area</label>
          <input type="text" class="form-control" name="area" [(ngModel)]="model.area" #area="ngModel" required />
          <div *ngIf="f.submitted && !area.valid" class="help-block">Area is required</div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Submit</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>