<table> </table>
<div class="container">

  <div class="HeaderClass" style="margin-left: 0px !important;">Request Detail</div>

  <div class="modal-body row">
    <div class="col-md-8" text-center>
      <!-- <form  > -->
      <form>
        <div *ngIf="isSkillLoaded">
          <table class="fontFamily" style="width:100%">
            <tr>
              <td>
                <label for="pbiId ">PBI ID</label>
              </td>
              <td>{{currentRequestData.pbiId}}</td>
            </tr>
            <tr>
              <td>
                <label for="name ">Name</label>
              </td>
              <td> {{currentRequestData.name}}</td>
            </tr>
            <tr>
              <td>
                <label for="skillSet">Dev skill set</label>
              </td>
              <td>
                <span>{{devSkillSet}}</span>
                <a *ngIf="isDevSkillMore" (click)="devSkillAlert()">...See More skill</a>
              </td>
            </tr>
            <tr>
              <td>
                <label for="skillSet">QA skill set</label>
              </td>
              <td>
                <span>{{qaSkillSet}}</span>
                <a *ngIf="isQaSkillMore" (click)="qaSkillAlert()">...See More skill</a>
              </td>
            </tr>

            <tr>
              <td>
                <label for="expectedIQADate ">Expected IQA Date</label>
              </td>
              <td> {{currentRequestData.expectedIQADate | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <td>
                <label for="status ">Status</label>
              </td>
              <td>
                <app-request-status [status]="currentRequestData.status"></app-request-status>
              </td>
            </tr>
            <tr>
              <td>
                <label for="initiatedBy ">Initiated By</label>
              </td>
              <td> {{currentRequestData.initiatedBy.TeamName}}</td>
            </tr>
            <tr>
              <td>
                <label for="skillSet">Dev Panel</label>
              </td>
              <td>
                <span *ngFor="let panelItem of devPanel;let i=index; trackBy:trackByIndex" style="text-transform: capitalize;"> 
               <a (click)="showUserDeatail(panelItem)">{{panelItem.fullName}}{{i === devPanel.length - 1 ? '' : ', '}}</a>
              </span>
              </td>
            </tr>
            <tr>
              <td>
                <label for="skillSet">QA Panel</label>
              </td>
              <td>
                <span *ngFor="let panelItem of qaPanel;let i=index; trackBy:trackByIndex">
                <a (click)="showUserDeatail()">{{panelItem.fullName}}{{i === qaPanel.length - 1 ? '' : ', '}}</a>
              </span>
              </td>
            </tr>
          </table>
          <div style="align-content: center; margin-top: 15px;">
            <!-- <button type="submit" class="btn btn-success ">Assign</button> -->
            <button (click)="ShowRequestList1()" class="btn btn-warning">Home</button>
          </div>
        </div>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
      </form>
    </div>

  </div>