<div class="container-fluid top-header">
    <div class="row">
        <div class="col-xs-6 col-sm-9">
            <h3 class="user-name">
                <span *ngIf="currentUser.isPanel" title="{{currentUser.FName+' '+currentUser.LName | titlecase }}"> Hi
                    {{currentUser.FName+' '+currentUser.LName | titlecase }}!!</span>
                <span *ngIf="!currentUser.isPanel" title="{{currentUser.FName+' '+currentUser.LName | titlecase }}">
                    Hello Team {{currentUser.teamName | titlecase }}!!</span>
                <span (click)="navToggle()" class="glyphicon glyphicon-th-list cur-pointer"></span>
            </h3>
            <!-- <p>You're logged in with Angular 2!!</p>
                <h3>All registered users:</h3>
                <ul>
                    <li *ngFor="let user of users">
                        {{user.username}} ({{user.firstName}} {{user.lastName}})
                        - <a (click)="deleteUser(user.id)">Delete</a>
                    </li>
                </ul> -->
        </div>
        <div class="col-xs-6 col-sm-3 text-right">
            <a (click)="doAction(ActionList.ResetPassword)" class="logout-link">Reset Password</a>
            &nbsp;|&nbsp;
            <a [routerLink]="['/login']" class="logout-link">Logout</a>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row bottomBorder minHeight350" [ngClass]="{'nav-open':navOpen}">
            <div class="col-lg-3 col-sm-3 col-xs-12 left-nav">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div>
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active">
                                <a href="#" (click)="doAction('Dashboard',$event)">Home</a>
                            </li>
                        </ul>
                        <div *ngIf="currentUser.isPanel">
                            <ul class="nav nav-pills nav-stacked">
                                <li role="presentation">
                                    <a href="#" (click)="doAction(ActionList.EQANewRequests, $event)">{{ActionList.EQANewRequests}}
                                        <span *ngIf="NewRequestCount" class="badge">{{NewRequestCount}}</span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" (click)="doAction('Action Two', $event)">Req. Under Verification</a>
                                </li>
                                <li role="presentation">
                                    <a href="#" (click)="doAction('Action Two', $event)">IQA Completed Requests</a>
                                </li>
                                <li role="presentation">
                                    <a href="#" (click)="doAction(ActionList.EQASummary, $event)">{{ActionList.EQASummary}}</a>
                                </li>
                                <li role="presentation">
                                    <a href="#" (click)="doAction(ActionList.PanelSkillAdd, $event)">Update Skill Set</a>
                                </li>
                                <li role="presentation">
                                    <a href="#" (click)="doAction(ActionList.Feedback, $event)">Feedback</a>
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="!currentUser.isPanel">
                            <ul class="nav nav-pills nav-stacked">
                                <li role="presentation">
                                    <a href="#" (click)="doAction(ActionList.TeamCheckList, $event)">Request Under
                                        Verification
                                        <span *ngIf="NewRequestCount" class="badge">{{NewRequestCount}}</span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" (click)="doAction(ActionList.InitiateEQARequest, $event)">{{ActionList.InitiateEQARequest}}
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" (click)="doAction(ActionList.TeamEQARequest, $event)">{{ActionList.TeamEQARequest}}</a>
                                </li>
                                <li role="presentation">
                                    <a href="#" (click)="doAction(ActionList.PanelList, $event)">{{ActionList.PanelList}}</a>
                                </li>
                                <li role="presentation">
                                    <a href="#" (click)="doAction(ActionList.TeamList, $event)">{{ActionList.TeamList}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-9 col-sm-9  col-xs-12 right-body">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner minHeight350 LeftBorder">

                        <section class="content-header pos-rel">
                            <ol class="breadcrumb">
                                <li>
                                    <span class="glyphicon glyphicon-home"></span> Home</li>
                                <li class="active">{{ActiveTab}}</li>
                            </ol>
                        </section>
                        <app-panel-home-page *ngIf="ActiveTab=='Dashboard'" [currentUser]="currentUser" (messageEvent)='ShowRequestDetails($event)'></app-panel-home-page>
                        <associate-new-request-list *ngIf="ActiveTab===ActionList.EQANewRequests" [currentUser]="currentUser"
                            (messageEvent)='ShowRequestDetails($event)'></associate-new-request-list>
                        <app-associate-request-list *ngIf="ActiveTab===ActionList.EQASummary" [currentUser]="currentUser"
                            (messageEvent)='ShowRequestDetails($event)'></app-associate-request-list>
                        <app-associate-request-detail *ngIf="ActiveTab===ActionList.AssociateRequestDetail"
                            [currentRequestData]="currentRequestData" (messageEvent)='ShowRequestList($event)'></app-associate-request-detail>
                        <app-team-new-request *ngIf="ActiveTab===ActionList.InitiateEQARequest" (messageEvent)='changeMessageEvent($event)'></app-team-new-request>
                        <app-team-request-list *ngIf="ActiveTab===ActionList.TeamEQARequest" [currentUser]="currentUser"
                            (messageEvent)='ShowRequestDetails($event)'></app-team-request-list>
                        <app-feedback *ngIf="ActiveTab===ActionList.Feedback" [currentUser]="currentUser"></app-feedback>
                        <app-team-request-detail *ngIf="ActiveTab===ActionList.TeamRequestDetail" [currentRequestData]="currentRequestData"
                            (messageEvent)='ShowRequestList1($event)'></app-team-request-detail>
                        <app-team-panel-list *ngIf="ActiveTab===ActionList.PanelList"></app-team-panel-list>
                        <app-team-panel-detail *ngIf="ActiveTab===ActionList.PanelDetail"></app-team-panel-detail>
                        <app-reset-user-password *ngIf="ActiveTab===ActionList.ResetPassword"></app-reset-user-password>
                        <app-team-checklist-form *ngIf="ActiveTab===ActionList.TeamCheckList" [currentRequestData]="currentRequestData"></app-team-checklist-form>
                        <app-team-list *ngIf="ActiveTab===ActionList.TeamList" [currentUser]="currentUser"></app-team-list>
                        <app-panel-skill-set *ngIf="ActiveTab==ActionList.PanelSkillAdd" [currentUser]="currentUser"
                            (messageEvent)='ShowRequestDetails($event)'></app-panel-skill-set>
                    </div>
                </div>
            </div>
        </div>
    </section>