<table> </table>
<div>

  <div class="HeaderClass">Request Detail</div>

  <div class="modal-body row">

    <!-- <form  > -->
    <form>
      <div class="col-md-8" *ngIf="!showCheckList" text-center>
        <table class="fontFamily" style="width:100%">
          <tr>
            <td>
              <label for="pbiId ">PBI ID</label>
            </td>
            <td>{{currentRequestData.pbiId}}</td>
          </tr>
          <tr>
            <td>
              <label for="name ">Name</label>
            </td>
            <td> {{currentRequestData.name}}</td>
          </tr>
          <tr>
            <td>
              <label for="skillSet">Dev skill set</label>
            </td>
            <td>
              <span *ngFor="let skilldata of currentRequestData.skillSet;let i=index; trackBy:trackByIndex">
                {{skilldata.itemName}}{{i === currentRequestData.skillSet.length - 1 ? '' : ', '}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label for="skillSet">QA skill set</label>
            </td>
            <td>
              <span *ngFor="let skilldata of currentRequestData.qaSkillSet;let i=index; trackBy:trackByIndex">
                {{skilldata.itemName}}{{i === currentRequestData.qaSkillSet.length - 1 ? '' : ', '}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label for="deliveryDate ">Delivery Date</label>
            </td>
            <td>
              {{currentRequestData.deliveryDate?(currentRequestData.deliveryDate | date: 'dd/MM/yyyy'):'NA'}}</td>
          </tr>
          <tr>
            <td>
              <label for="expectedIQADate ">Expected IQA Date</label>
            </td>
            <td> {{currentRequestData.expectedIQADate?(currentRequestData.expectedIQADate | date: 'dd/MM/yyyy'):'NA'}}</td>
          </tr>
          <tr>
            <td>
              <label for="initiatedBy ">Initiated By</label>
            </td>
            <td> {{currentRequestData.initiatedBy.TeamName}}</td>
          </tr>
          <tr>
            <td>
              <label for="skillSet">Dev Panel</label>
            </td>
            <td>
              <span *ngFor="let devPanel of currentRequestData.assignedDevPanelList;let i=index; trackBy:trackByIndex">
                {{devPanel.itemName}}{{i === currentRequestData.assignedDevPanelList.length - 1 ? '' : ', '}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label for="skillSet">QA Panel</label>
            </td>
            <td>
              <!-- <span *ngFor="let qaPanel of currentRequestData.assignedQAPanelList;let i=index; trackBy:trackByIndex">
                {{qaPanel.itemName}}{{i === currentRequestData.assignedQAPanelList.length - 1 ? '' : ', '}}
              </span> -->
              <span *ngFor="let panelItem of qaPanel;let i=index; trackBy:trackByIndex">
                <a (click)="showUserDeatail(panelItem)">{{panelItem.fullName}}{{i === qaPanel.length - 1 ? '' : ', '}}</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label for="remarks ">Current Status</label>
            </td>
            <td>
              <app-request-status [status]="currentRequestData.status"></app-request-status>
            </td>
          </tr>
          <tr>
            <td>
              <label for="status ">Update Status</label>
            </td>
            <td>
              <select id="ddlStatus" name="ddlStatus" class="form-control" [(ngModel)]="model.selectedStatus" [ngModelOptions]="{standalone: true}"
                (change)="onStatusChange($event)">
                <option class="dropdown-item" [ngValue]="k.Id" *ngFor="let k of statusList">
                  {{k.Name}}
                </option>
              </select>
            </td>
          </tr>
          <br/>
          <tr *ngIf="currentRequestData.showRemark">
            <td>
              <label for="RejectRemark " cols="30" rows="4">Reason for rejection</label>
            </td>
            <td>
              <textarea name="" class="form-control" [(ngModel)]="reasonText" [ngModelOptions]="{standalone: true}" id="reasontext" cols="30"
                rows="4" required autofocus></textarea>
              <span style="color:red">*</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-12" *ngIf="showCheckList">
        <div class="noteFontStyle">***Please update the checklist before completing IQA Request</div>
        <br>
        <table class="table table-striped skillFontStyle" style="width: 90%;border: 1px solid gainsboro;  ">

          <!--Table head-->
          <thead>
            <tr>
              <th>#</th>
              <th>CheckList Item</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr *ngFor="let data of requestCheckListItem">
              <th scope="row">{{requestCheckListItem.indexOf(data)+1}}</th>

              <td>{{data.CheckListItem}}</td>
              <td>{{data.Description}}</td>
              <td>
                <!-- Default unchecked -->
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" [(ngModel)]="modelRdbSelectedItem[data._Id]" [value]="1" name="rdbCheckListGroup_{{data._Id}}"
                    checked>
                  <label class="custom-control-label" for="defaultUnchecked">Open</label>

                  <input type="radio" class="custom-control-input" [(ngModel)]="modelRdbSelectedItem[data._Id]" [value]="0" name="rdbCheckListGroup_{{data._Id}}">
                  <label class="custom-control-label" for="defaultChecked">Close</label>
                </div>
              </td>
            </tr>
          </tbody>
          <!--Table body-->

        </table>
        <hr>
        <button href="#" class="btn btn-sm btn-danger">
          <span class="glyphicon glyphicon-plus"></span> Add Review Item</button>
        <br>
        <hr>
        <div class="">
          <div class="fw-bold fs-body2 fc-orange-500 tt-uppercase mb16">Panel Review Comments :</div>
          <table class="table-striped skillFontStyle">
            <tr>
              <td>Dev Panel</td>
              <td>-->{{(currentRequestData.verificationStatus && currentRequestData.verificationStatus.DevReviewComment) || 'No
                Comments'}}
              </td>
            </tr>
            <tr>
              <td>QA Panel</td>
              <td>-->{{(currentRequestData.verificationStatus && currentRequestData.verificationStatus.QAReviewComment) || 'No
                Comments'}}
              </td>
            </tr>
            <tr>
              <td>Team Replay</td>
              <td>-->{{(currentRequestData.verificationStatus && currentRequestData.verificationStatus.TeamReplyReviewComment)
                || 'No Comments'}}
              </td>
            </tr>
          </table>
        </div>
        <div class="width50per" *ngIf="currentRequestData.currentUser.panelType == 'Dev'">
          <label for="ReviewDevComment " cols="30" rows="4">Review Comment</label>
          <textarea type="textarea" class="form-control" [(ngModel)]="model.DevReviewComment" [ngModelOptions]="{standalone: true}"
            id="ReviewDevComment" cols="30" rows="4" required>
          </textarea>
        </div>
        <div class="width50per" *ngIf="currentRequestData.currentUser.panelType == 'QA'">
          <label for="ReviewQAComment " cols="30" rows="4">Review Comment</label>
          <textarea type="textarea" class="form-control" [(ngModel)]="model.QAReviewComment" [ngModelOptions]="{standalone: true}"
            id="ReviewQAComment" cols="30" rows="4" required>
          </textarea>
        </div>
      </div>
      <div class="col-md-6 marginTop15">
        <button (click)="ShowRequestList()" class="btn btn-warning style=margin-left:15px;">Home</button>
        <button type="submit" class="btn btn-success form-control" (click)="OnSaveClick()" *ngIf="currentRequestData.showRemark || currentRequestData.showSaveButton">Save</button>
        <img *ngIf="showLoadingIcon" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        <button type="submit" class="btn btn-info form-control" (click)="OnCancelClick()" *ngIf="showCheckList">Cancel</button>
      </div>
    </form>

  </div>