<table> </table>
<div>
  <div *ngIf="!showCheckList">
    <div class="fw-bold fs-body2 fc-orange-500 tt-uppercase mb16">Request Detail</div>
    <div class="pl24 pr2 pt2 pb4 bg-divider d-inline-block mb24"></div>
  </div>

  <div class="modal-body row">
    <form>
      <div class="col-md-10" *ngIf="!showCheckList" text-center style="padding-left: 0">
        <table class="table-striped table table-condensed ff-family data-table">
          <tr>
            <td>
              <label for="pbiId ">PBI ID</label>
            </td>
            <td>{{currentRequestData.body.pbiId}}</td>
          </tr>
          <tr>
            <td>
              <label for="name ">Name</label>
            </td>
            <td> {{currentRequestData.body.name}}</td>
          </tr>
          <tr>
            <td>
              <label for="skillSet">Dev skill set</label>
            </td>
            <td>
              <span class="skillFontStyle1">{{devSkillSet}}</span>
              <a *ngIf="isDevSkillMore" (click)="ShowSkillPopup('Dev')">...See more</a>
            </td>
          </tr>
          <tr>
            <td>
              <label for="skillSet">QA skill set</label>
            </td>
            <td>
              <span class="skillFontStyle1">{{qaSkillSet}}</span>
              <a *ngIf="isQaSkillMore" (click)="ShowSkillPopup('QA')">...See more</a>
            </td>
          </tr>
          <tr>
            <td>
              <label for="deliveryDate ">Delivery Date</label>
            </td>
            <td>
              {{currentRequestData.body.deliveryDate?(currentRequestData.body.deliveryDate | date: 'dd/MM/yyyy'):'NA'}}</td>
          </tr>
          <tr>
            <td>
              <label for="expectedIQADate ">Expected IQA Date</label>
            </td>
            <td> {{currentRequestData.body.expectedIQADate?(currentRequestData.body.expectedIQADate | date:
              'dd/MM/yyyy'):'NA'}}</td>
          </tr>
          <tr>
            <td>
              <label for="initiatedBy ">Initiated By</label>
            </td>
            <td><a (click)="getTeamDetails(currentRequestData.body.initiatedBy.ID)">
                {{currentRequestData.body.initiatedBy.TeamName}}</a></td>
          </tr>
          <tr>
            <td>
              <label for="skillSet">Dev Panel</label>
            </td>
            <td>
              <span *ngFor="let panelItem of devPanel;let i=index; trackBy:trackByIndex" style="text-transform: capitalize;">
                <a (click)="showUserDeatail(panelItem)">{{panelItem.fullName}}{{i === devPanel.length - 1 ? '' : ', '}}</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label for="skillSet">QA Panel</label>
            </td>
            <td>
              <span *ngFor="let panelItem of qaPanel;let i=index; trackBy:trackByIndex">
                <a (click)="showUserDeatail(panelItem)">{{panelItem.fullName}}{{i === qaPanel.length - 1 ? '' : ', '}}</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label for="remarks ">Current Status</label>
            </td>
            <td>
              <app-request-status [status]="currentRequestData.body.status"></app-request-status>
            </td>
          </tr>
          <tr>
            <td>
              <label for="status ">Update Status</label>
            </td>
            <td>
              <select id="ddlStatus" name="ddlStatus" class="form-control" [(ngModel)]="model.selectedStatus"
                [ngModelOptions]="{standalone: true}" (change)="onStatusChange($event)">
                <option class="dropdown-item" [ngValue]="k.Id" *ngFor="let k of statusList">
                  {{k.Name}}
                </option>
              </select>
            </td>
          </tr>
          <br />
          <tr *ngIf="showRemark">
            <td>
              <label for="RejectRemark " cols="30" rows="4">Reason for rejection</label>
            </td>
            <td>
              <textarea name="" class="form-control" [(ngModel)]="reasonText" [ngModelOptions]="{standalone: true}" id="reasontext"
                cols="30" rows="4" required autofocus></textarea>
              <span style="color:red">*</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-12" *ngIf="showCheckList">
        <h3 class="fw-bold fs-body2 fc-orange-500 tt-uppercase mb16">Common Checklist Items</h3>
        <div class="pl24 pr2 pt2 pb4 bg-divider d-inline-block mb24"></div>
        <table class="table table-condensed skillFontStyle ff-family data-table">

          <!--Table head-->
          <thead>
            <tr>
              <th>#</th>
              <th>CheckList Item</th>
              <th>Description</th>
              <th>Team Comment</th>
              <th>Close/Open By</th>
              <th>Panel Comment</th>
              <th>Action</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr *ngFor="let data of currentRequestData.body.GennericCheckListItems; let i = index;" class="form-add-review">
              <th scope="row">{{i+1}}</th>
              <td>{{data.CheckListItem}}</td>
              <td>{{data.Description}}</td>
              <td>{{data.teamComment}}</td>
              <td class="capitalize">{{data.raisedByPanel}}</td>
              <td><textarea type="text" class="form-control" name='genericPanelComment{{i}}' [(ngModel)]="data.panelComment"
                  #data.panelComment="ngModel" *ngIf="data.raisedByPanelId==currentPanelId &&  data.raisedByPanel && data.status"></textarea>
                <span *ngIf="!(data.raisedByPanelId==currentPanelId &&  data.raisedByPanel && data.status)">{{data.panelComment||'Looks
                  good'}}</span>
              </td>
              <td>
                <select class="form-control" name="genericReviewStatus{{i}}" [(ngModel)]="data.status" (change)="OnGenericReviewStatusChanged(data)">
                  <option *ngFor="let item of Status" [ngValue]="item._Id" [selected]="item._Id==data.status">{{item.Title}}</option>
                </select></td>

              <td><span [ngClass]="{'closeStatus':!data.status,'openStatus':data.status}"></span></td>
            </tr>
          </tbody>
          <!--Table body-->

        </table>
        <div *ngIf="showCurrentPanelReviewComment">
          <br>
          <div class="fw-bold fs-body2 fc-orange-500 tt-uppercase mb16">My Review Comments </div>
          <div class="pl24 pr2 pt2 pb4 bg-divider d-inline-block mb24"></div>
          <table class="table table-condensed skillFontStyle ff-family data-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Findings</th>
                <th>Area Of Finding</th>
                <th>Severity</th>
                <th>Team Comment</th>
                <th>Panel Comment</th>
                <th>Current Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of currentPanelData.reviewCheckListItems; let i = index" class="capitalize form-add-review">
                <td scope="row">{{(i+1)}}</td>
                <td>{{data.findings}}</td>
                <td>{{data.areaOfFinding}}</td>
                <td>{{data.severity}}</td>
                <td>{{data.teamComment}}</td>
                <td><textarea type="text" class="form-control" name='PanelComment{{i}}' [(ngModel)]="data.panelComment"
                    #data.panelComment="ngModel" *ngIf="data.status"></textarea>
                  <span *ngIf="!(data.status)">{{data.panelComment||'No Comment'}}</span>
                </td>
                <td><select class="form-control" name="reviewStatus{{i}}" [(ngModel)]="data.status">
                    <option *ngFor="let item of Status" [ngValue]="item._Id" [selected]="item._Id==data.status">{{item.Title}}</option>
                  </select></td>
                <td><span [ngClass]="{'closeStatus':!data.status,'openStatus':data.status}"></span></td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>

        <button class="btn btn-sm btn-danger" (click)="ShowAddReviewItem()">
          <span class="glyphicon glyphicon-plus"></span> Add Review Item</button>
        <br>

        <div class="form-inline form-add-review" [ngClass]="{ 'hide': showReviewItemForm}">
          <div class="row">
            <div class="form-group col-sm-3 col-xs-6">
              <label for="findings" class=" capseAll">Findings</label>
              <textarea class="form-control" name="findings" [(ngModel)]="model.findings" required="required"> </textarea>
            </div>
            <div class="form-group col-sm-3 col-xs-6">
              <label for="futureImpact" class=" capseAll">Future Impact</label>
              <textarea class="form-control" name="futureImpact" [(ngModel)]="model.futureImpact" required="required"> </textarea>
            </div>
            <div class="form-group col-sm-3 col-xs-6">
              <label for="proposedAction" class=" capseAll">Proposed Action</label>
              <textarea class="form-control" name="proposedAction" [(ngModel)]="model.proposedAction" required> </textarea>
            </div>
            <div class="form-group col-sm-3 col-xs-6">
              <label for="panelComment" class=" capseAll">Panel Comment</label>
              <textarea class="form-control" name="panelComment" [(ngModel)]="model.panelComment"> </textarea>
            </div>
            <div class="form-group col-sm-2 col-xs-6">
              <label for="areaOfFinding" class="capseAll">Area Of Finding</label>
              <select class="form-control" name="areaOfFinding" [(ngModel)]="model.areaOfFinding">
                <option *ngFor="let item of AreaOfFindings" value="{{item.Title}}">{{item.Title}}</option>
              </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6">
              <label for="severity" class=" capseAll">Severity</label>
              <select class="form-control" name="severity" [(ngModel)]="model.severity">
                <option *ngFor="let item of TypeOfSeverity" value="{{item.Title}}">{{item.Title}}</option>
              </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6">
              <label for="checkPointType" class=" capseAll">Check Point Type</label>
              <select class="form-control" name="checkPointType" [(ngModel)]="model.checkPointType">
                <option *ngFor="let item of CheckPoints" value="{{item.Title}}">{{item.Title}}</option>
              </select>
            </div>
            <div class="form-group col-sm-3 col-xs-6">
              <br>
              <a class="btn btn-xs btn-success" (click)="SaveNewReviewItem()">ADD</a>
              <a class="btn btn-link" (click)="CancelReviewItem()">Cancel</a>
            </div>
          </div>
        </div>
        <div *ngIf="newCheckListItemsLength">
          <hr>
          <table class="table-striped table table-condensed ff-family data-table">
            <thead>
              <tr>
                <th>Findings</th>
                <th>Future Impact</th>
                <th>Proposed Action</th>
                <th>Panel Comment</th>
                <th>Team Comment</th>
                <th>Area Of Finding</th>
                <th>Severity</th>
                <th>Check Point Type</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let review of newCheckListItems; let i = index">
                <td>{{review.findings}}</td>
                <td>{{review.futureImpact}}</td>
                <td>{{review.proposedAction}}</td>
                <td *ngIf="review.panelComment">{{review.panelComment}}</td>
                <td *ngIf="review.teamComment">{{review.teamComment}}</td>
                <td>{{review.areaOfFinding}}</td>
                <td>{{review.severity}}</td>
                <td>{{review.checkPointType}}</td>
                <td>OPEN</td>
                <td><span class="glyphicon glyphicon-remove" (click)="RemoveNewCheckListItem(i)"></span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="showPreviousReviewComment">
          <br>
          <div class="fw-bold fs-body2 fc-orange-500 tt-uppercase mb16">Previous DEV/QA Panel Review Comments </div>
          <div class="pl24 pr2 pt2 pb4 bg-divider d-inline-block mb24"></div>
          <table class="table table-condensed skillFontStyle ff-family data-table">
            <thead>
              <tr>
                <td>#</td>
                <th>Findings</th>
                <th>Future Impact</th>
                <th>Proposed Action</th>
                <th>Panel Comment</th>
                <th>Team Comment</th>
                <th>Area Of Finding</th>
                <th>Severity</th>
                <th>Check Point Type</th>
                <th>Raised By</th>
                <th>Panel</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of allPreviousReviewComment; let i = index" class="capitalize">
                <td scope="row">{{(i+1)}}</td>
                <td>{{data.findings}}</td>
                <td>{{data.futureImpact}}</td>
                <td>{{data.proposedAction}}</td>
                <td>{{data.panelComment}}</td>
                <td>{{data.teamComment}}</td>
                <td>{{data.areaOfFinding}}</td>
                <td>{{data.severity}}</td>
                <td>{{data.checkPointType}}</td>
                <td>{{data.raisedBy}}</td>
                <td>{{data.panelType}}</td>
                <td>
                  <app-request-status [status]="GetDisplayStatus(data.status)"></app-request-status>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>



      </div>
      <div class="col-md-6 marginTop15">
        <button (click)="ShowRequestList()" class="btn btn-warning btn-sm"style="margin-left:15px;">Home</button>
        <button type="submit" class="btn btn-success btn-sm" (click)="OnSaveClick()" *ngIf="showRemark || showSaveButton">Save</button>
        <img *ngIf="showLoadingIcon" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <button type="submit" class="btn btn-link" (click)="OnCancelClick()" *ngIf="showCheckList">Cancel</button>
      </div>
    </form>

  </div>